/*toast*/
.aui-toast {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  position: fixed;
  z-index: 3;
  top: 180px;
  left: 50%;
  width: 7.5em;
  min-height: 7.5em;
  margin-left: -3.75em;
}
.aui-toast .aui-iconfont {
  display: block;
  font-size: 55px;
}
.aui-toast-content {
  margin: 0 0 15px;
}
.aui-toast .aui-toast-loading {
  background-color: #fff;
  border-radius: 100%;
  margin: 15px 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  height: 45px;
  width: 45px;
  background: transparent !important;
  display: inline-block;
  -webkit-animation: rotate 1s 0s linear infinite;
  animation: rotate 1s 0s linear infinite;
}

#toast-container, #loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  z-index: 10;
}

.toast-content {
  height: 30px;
  max-width: 70%;
  padding: 0 10px;
  background: rgba(0, 0, 0, .6);
  border-radius: 2px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

