body{
    background:#f5f5f5;
}
html,body{
    width:100%;
    height:100%;
}
@-webkit-keyframes rotate {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
.card-list{
    position: relative;
    margin-bottom: 0.75rem;
    background: #ffffff;
}
.card-list:last-of-type{
    margin-bottom: 0px;
}

.card-list-header{
    font-size: 0.8rem;
    color: #212121;
}

.card-list-footer{
    font-size: 0.8rem;
    color:#ccc;
}

.card-list-header, .card-list-footer {
    position: relative;
    min-height: 2.2rem;
    padding: 0.5rem 0.75rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.card-list-content-padded{
    position: relative;
    padding: 0.5rem 0.75rem;
    line-height:1.2rem;
}

.card-list-content, .card-list-content-padded {
    font-size: 0.7rem;
    color: #212121;
}

/*test*/

.xxxx{
    position: absolute;
    top:30px;
    left:0;
    right:0;
}

.refresh-loader{
}
