/*tab切换类*/
.aui-tab {
  width: 100%;
  overflow: hidden;
}
.aui-tab-nav {
  width: 100%;
  display: box;
  display: -webkit-box;
  box-sizing: border-box;
  font-size: 16px;
  height: 45px;
  background-color: #fff;
  overflow: hidden;
}
.aui-tab-nav li {
  height: 45px;
  line-height: 45px;
  box-flex: 1;
  -webkit-box-flex: 1;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  border-bottom: 2px solid transparent;
  width: 100%;
}
.aui-tab-nav li.active {
  color: #1abc9c;
  border-bottom: 2px #1abc9c solid;
  /*-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;*/
}
.aui-tab-nav.aui-tab-border {
  background-color: transparent;
  border: 1px solid;
  border-color: #1abc9c;
  border-radius: 3px;
}
.aui-tab-nav.aui-tab-border li {
  /*width: 1%;*/
  overflow: hidden;
  line-height: 43px;
  color: #1abc9c;
  background-color: #ffffff;
  border-color: #1abc9c;
  border-left: 1px solid;
}
.aui-tab-nav.aui-tab-border li:first-child {
  border-left: 0px;
}
.aui-tab-nav.aui-tab-border li.active {
  background-color: #1abc9c;
  color: #fff;
  /*-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;*/
}
.aui-tab-success .aui-tab-nav li.active {
  color: #2ecc71;
  border-bottom: 2px #2ecc71 solid;
}
.aui-tab-danger .aui-tab-nav li.active {
  color: #e74c3c;
  border-bottom: 2px #e74c3c solid;
}
.aui-tab-warning .aui-tab-nav li.active {
  color: #f1c40f;
  border-bottom: 2px #f1c40f solid;
}
.aui-tab-info .aui-tab-nav li.active {
  color: #3498db;
  border-bottom: 2px #3498db solid;
}
.aui-tab-dark .aui-tab-nav li.active {
  color: #34495e;
  border-bottom: 2px #34495e solid;
}

.aui-tab-success .aui-tab-nav.aui-tab-border,
.aui-tab-success .aui-tab-border li {
  border-color: #2ecc71;
  color: #2ecc71;
}
.aui-tab-success .aui-tab-border li.active {
  background-color: #2ecc71;
  color: #fff;
}
.aui-tab-info .aui-tab-nav.aui-tab-border,
.aui-tab-info .aui-tab-border li {
  border-color: #3498db;
  color: #3498db;
}
.aui-tab-info .aui-tab-border li.active {
  background-color: #3498db;
  color: #fff;
}
.aui-tab-danger .aui-tab-nav.aui-tab-border,
.aui-tab-danger .aui-tab-border li {
  border-color: #e74c3c;
  color: #e74c3c;
}
.aui-tab-danger .aui-tab-border li.active {
  background-color: #e74c3c;
  color: #fff;
}
.aui-tab-warning .aui-tab-nav.aui-tab-border,
.aui-tab-warning .aui-tab-border li {
  border-color: #f1c40f;
  color: #f1c40f;
}
.aui-tab-warning .aui-tab-border li.active {
  background-color: #f1c40f;
  color: #fff;
}
.aui-tab-dark .aui-tab-nav.aui-tab-border,
.aui-tab-dark .aui-tab-border li {
  border-color: #34495e;
  color: #34495e;
}
.aui-tab-dark .aui-tab-border li.active {
  background-color: #34495e;
  color: #fff;
}
